Repository nnsvs/nnsvs, pull requests merged in 2022-11, with the labels that each got.

#152 Remove recipe for no longer available data
  recipes/natsume_singing/README.md
  recipes/natsume_singing/dev-48k-world/conf
  recipes/natsume_singing/dev-48k-world/config.yaml
  recipes/natsume_singing/dev-48k-world/run.sh
Labels: recipes

#155 Add train_acoustic entry point in setup.py
  setup.py
Labels: bug fix

#159 Fix config tests to cover untested acoustic model configs
  recipes/_common/conf/jp_dev_48k_nodyn/train_acoustic/model/acoustic_nnsvs_melf0_multi_test.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_acoustic/model/acoustic_nnsvs_world_multi_ar_f0.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_acoustic/model/acoustic_nnsvs_world_multi_ar_mgcf0bap.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_acoustic/model/acoustic_nnsvs_world_multi_test.yaml
  recipes/namine_ritsu_utagoe_db/icassp2023-24k-world/conf/train_acoustic/model/acoustic_nnsvs_melf0_multi_ar_f0.yaml
  recipes/namine_ritsu_utagoe_db/icassp2023-24k-world/conf/train_acoustic/model/acoustic_nnsvs_melf0_multi_ar_melf0_prenet0.yaml
  recipes/namine_ritsu_utagoe_db/icassp2023-24k-world/conf/train_acoustic/model/acoustic_nnsvs_melf0_multi_nonar.yaml
  recipes/namine_ritsu_utagoe_db/icassp2023-24k-world/conf/train_acoustic/model/acoustic_nnsvs_melf0_single_ar.yaml
  recipes/namine_ritsu_utagoe_db/icassp2023-24k-world/conf/train_acoustic/model/acoustic_nnsvs_world_multi_ar_f0.yaml
  recipes/namine_ritsu_utagoe_db/icassp2023-24k-world/conf/train_acoustic/model/acoustic_nnsvs_world_multi_ar_mgcf0_prenet0.yaml
  recipes/namine_ritsu_utagoe_db/icassp2023-24k-world/conf/train_acoustic/model/acoustic_nnsvs_world_multi_ar_mgcf0bap.yaml
  recipes/namine_ritsu_utagoe_db/icassp2023-24k-world/conf/train_acoustic/model/acoustic_nnsvs_world_multi_ar_mgcf0bap_npss_v1.yaml
  recipes/namine_ritsu_utagoe_db/icassp2023-24k-world/conf/train_acoustic/model/acoustic_nnsvs_world_multi_nonar.yaml
  recipes/namine_ritsu_utagoe_db/icassp2023-24k-world/conf/train_acoustic/model/acoustic_nnsvs_world_single_ar.yaml
  tests/test_model_configs.py
Labels: recipes

#160 Replace duplicated use_harvest option by f0_extractor
  recipes/namine_ritsu_utagoe_db/icassp2023-24k-world/conf/prepare_features/acoustic/nnsvs_contrib_melf0_24k.yaml
  recipes/namine_ritsu_utagoe_db/icassp2023-24k-world/conf/prepare_features/acoustic/nnsvs_contrib_melf0_24k_diffsinger_compat.yaml
  recipes/namine_ritsu_utagoe_db/icassp2023-24k-world/conf/prepare_features/acoustic/nnsvs_contrib_static_only.yaml
  recipes/namine_ritsu_utagoe_db/icassp2023-24k-world/conf/prepare_features/acoustic/nnsvs_contrib_static_only_diffvib.yaml
  recipes/namine_ritsu_utagoe_db/icassp2023-24k-world/conf/prepare_features/acoustic/nnsvs_contrib_static_only_sinevib.yaml
Labels: recipes, bug fix

#162 Fix train/dev/test split for Namine Ritsu's database
  recipes/namine_ritsu_utagoe_db/dev-48k-world/run.sh
  recipes/namine_ritsu_utagoe_db/icassp2023-24k-world/run.sh
Labels: recipes, bug fix

#157 Add recipe-level support for hn-uSFGAN and SiFi-GAN
  .github/workflows/ci.yml
  .gitignore
  nnsvs/bin/anasyn.py
  nnsvs/svs.py
  nnsvs/usfgan/__init__.py
  recipes/_common/conf/jp_dev_48k_nodyn/prepare_features/acoustic/nnsvs_contrib_static_lf0dyn.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_parallel_wavegan/hn-sinc-hifigan_sr24k_diffsinger_compat.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_parallel_wavegan/hn-sinc-hifigan_sr24k_pwgD_test.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_parallel_wavegan/hn-sinc-hifigan_sr48k_pwgD_test.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_parallel_wavegan/hn-sinc-nsf_sr24k_pwgD.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_parallel_wavegan/hn-sinc-nsf_sr48k_hifiganD.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_parallel_wavegan/hn-sinc-nsf_sr48k_melf0_pwgD_test.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_parallel_wavegan/hn-sinc-nsf_sr48k_pwgD.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_parallel_wavegan/hn-sinc-nsf_sr48k_pwgD_test.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_sifigan/data/nnsvs_melf0_sr48k.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_sifigan/data/nnsvs_melf0_sr48k_test.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_sifigan/data/nnsvs_world_sr48k.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_sifigan/data/nnsvs_world_sr48k_test.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_sifigan/discriminator/nnsvs_hifigan.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_sifigan/discriminator/nnsvs_univnet.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_sifigan/generator/nnsvs_melf0_sifigan_sr48k.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_sifigan/generator/nnsvs_world_sifigan_sr48k.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_sifigan/train.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_sifigan/train/nnsvs_sifigan.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_sifigan/train/nnsvs_sifigan_test.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_usfgan/data/nnsvs_melf0_sr48k.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_usfgan/data/nnsvs_melf0_sr48k_test.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_usfgan/data/nnsvs_world_sr48k.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_usfgan/data/nnsvs_world_sr48k_test.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_usfgan/discriminator/nnsvs_hifigan.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_usfgan/discriminator/nnsvs_univnet.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_usfgan/generator/nnsvs_melf0_parallel_hn_usfgan_sr48k.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_usfgan/generator/nnsvs_world_parallel_hn_usfgan_sr48k.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_usfgan/train.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_usfgan/train/nnsvs_hn_usfgan_sr48k.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_usfgan/train/nnsvs_hn_usfgan_sr48k_test.yaml
  recipes/_common/spsvs/anasyn.sh
  recipes/_common/spsvs/pack_model.sh
  recipes/_common/spsvs/run_common_steps_dev.sh
  recipes/_common/spsvs/synthesis_resf0.sh
  recipes/_common/spsvs/train_sifigan.sh
  recipes/_common/spsvs/train_usfgan.sh
  recipes/namine_ritsu_utagoe_db/icassp2023-24k-mel/train_usfgan.sh
  recipes/namine_ritsu_utagoe_db/icassp2023-24k-world/README.md
  recipes/namine_ritsu_utagoe_db/icassp2023-24k-world/conf/train_usfgan/data/nnsvs_melf0_sr24k.yaml
  recipes/namine_ritsu_utagoe_db/icassp2023-24k-world/conf/train_usfgan/data/nnsvs_world_sr24k.yaml
  recipes/namine_ritsu_utagoe_db/icassp2023-24k-world/conf/train_usfgan/discriminator/nnsvs_hifigan.yaml
  recipes/namine_ritsu_utagoe_db/icassp2023-24k-world/conf/train_usfgan/generator/nnsvs_melf0_parallel_hn_usfgan_sr24k.yaml
  recipes/namine_ritsu_utagoe_db/icassp2023-24k-world/conf/train_usfgan/generator/nnsvs_world_parallel_hn_usfgan_sr24k.yaml
  recipes/namine_ritsu_utagoe_db/icassp2023-24k-world/conf/train_usfgan/train.yaml
  recipes/namine_ritsu_utagoe_db/icassp2023-24k-world/conf/train_usfgan/train/nnsvs_hn_usfgan_sr24k.yaml
  recipes/namine_ritsu_utagoe_db/icassp2023-24k-world/run.sh
  recipes/namine_ritsu_utagoe_db/icassp2023-24k-world/train_usfgan.sh
  tests/test_recipes.sh
  utils/nnsvs2usfgan.py
Labels: recipes, vocoder, new feature

#164 Add guide for training DiffSinger with NNSVS's data created by stage 0
  recipes/namine_ritsu_utagoe_db/icassp2023-24k-world/README.md
Labels: documentation

#168 Remove hardcoded num_mels=80 and support arbitrary values
  nnsvs/bin/conf/prepare_features/acoustic/melf0_48k.yaml
  nnsvs/bin/conf/prepare_features/acoustic/static_deltadelta.yaml
  nnsvs/bin/conf/prepare_features/acoustic/static_only.yaml
  nnsvs/bin/prepare_features.py
  nnsvs/bin/prepare_voc_features.py
  nnsvs/data/data_source.py
  nnsvs/train_util.py
  recipes/_common/conf/jp_dev_48k_nodyn/prepare_features/acoustic/nnsvs_contrib_melf0_24k.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/prepare_features/acoustic/nnsvs_contrib_melf0_24k_diffsinger_compat.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/prepare_features/acoustic/nnsvs_contrib_melf0_48k.yaml
  recipes/_common/scaler_joblib2npy_voc.py
  recipes/_common/spsvs/prepare_voc_features.sh
  recipes/namine_ritsu_utagoe_db/icassp2023-24k-world/conf/prepare_features/acoustic/nnsvs_contrib_melf0_24k.yaml
  recipes/namine_ritsu_utagoe_db/icassp2023-24k-world/conf/prepare_features/acoustic/nnsvs_contrib_melf0_24k_diffsinger_compat.yaml
  utils/nnsvs2usfgan.py
Labels: pre-processing

#170 Performance improvements for training acoustic models
  nnsvs/bin/conf/train/data/defaults.yaml
  nnsvs/bin/conf/train_acoustic/data/defaults.yaml
  nnsvs/bin/conf/train_postfilter/data/defaults.yaml
  nnsvs/bin/train_acoustic.py
  nnsvs/tacotron/decoder.py
  nnsvs/train_util.py
  recipes/_common/conf/jp_dev_48k_nodyn/train/duration/data/myconfig.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train/duration/data/test.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train/timelag/data/myconfig.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train/timelag/data/test.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_acoustic/data/fineturn.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_acoustic/data/myconfig.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_acoustic/data/nit-song070.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_acoustic/data/test.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_acoustic/data/test_melf0.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_postfilter/data/myconfig.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_postfilter/data/test.yaml
Labels: training

#172 Fix MDN-based multi-stream models
  nnsvs/acoustic_models/multistream.py
  nnsvs/bin/train_acoustic.py
  nnsvs/train_util.py
  tests/test_acoustic_models.py
Labels: bug fix, acoustic model

#173 Expose initial value parameter for autoregressive decoder impl
  nnsvs/acoustic_models/tacotron.py
  nnsvs/tacotron/decoder.py
  recipes/_common/conf/jp_dev_48k_nodyn/train_acoustic/model/acoustic_nnsvs_world_multi_ar_mgcf0bap.yaml
  recipes/_common/conf/jp_dev_48k_nodyn/train_acoustic/model/acoustic_nnsvs_world_multi_ar_mgcf0bap_v2.yaml
  tests/test_acoustic_models.py
Labels: acoustic model

#174 Deprecate unused option and add one more option to multi-stream models
  nnsvs/acoustic_models/multistream.py
Labels: acoustic model

#176 preprocess: Add workaround for out-liers
  nnsvs/bin/conf/preprocess_normalize/config.yaml
  nnsvs/bin/preprocess_normalize.py
  nnsvs/data/data_source.py
Labels: pre-processing

#177 Add recipes for the Opencpop corpus
  recipes/_common/conf/zh_dev_48k_nodyn/prepare_features
  recipes/_common/conf/zh_dev_48k_nodyn/prepare_static_features
  recipes/_common/conf/zh_dev_48k_nodyn/train/.gitkeep
  recipes/_common/conf/zh_dev_48k_nodyn/train/duration/data/myconfig.yaml
  recipes/_common/conf/zh_dev_48k_nodyn/train/duration/data/test.yaml
  recipes/_common/conf/zh_dev_48k_nodyn/train/duration/model/duration_mdn.yaml
  recipes/_common/conf/zh_dev_48k_nodyn/train/duration/model/duration_vp_mdn.yaml
  recipes/_common/conf/zh_dev_48k_nodyn/train/duration/train/myconfig.yaml
  recipes/_common/conf/zh_dev_48k_nodyn/train/duration/train/test.yaml
  recipes/_common/conf/zh_dev_48k_nodyn/train/timelag/data/myconfig.yaml
  recipes/_common/conf/zh_dev_48k_nodyn/train/timelag/data/test.yaml
  recipes/_common/conf/zh_dev_48k_nodyn/train/timelag/model/timelag_mdn.yaml
  recipes/_common/conf/zh_dev_48k_nodyn/train/timelag/model/timelag_vp_mdn.yaml
  recipes/_common/conf/zh_dev_48k_nodyn/train/timelag/train/myconfig.yaml
  recipes/_common/conf/zh_dev_48k_nodyn/train/timelag/train/test.yaml
  recipes/_common/conf/zh_dev_48k_nodyn/train_acoustic/data/melf0_diffusion.yaml
  recipes/_common/conf/zh_dev_48k_nodyn/train_acoustic/data/world_diffusion.yaml
  recipes/_common/conf/zh_dev_48k_nodyn/train_acoustic/model/acoustic_nnsvs_melf0_ar_f0_diff_mel.yaml
  recipes/_common/conf/zh_dev_48k_nodyn/train_acoustic/model/acoustic_nnsvs_world_multi_ar_f0_diff_mgcbap.yaml
  recipes/_common/conf/zh_dev_48k_nodyn/train_acoustic/train/diffusion.yaml
  recipes/_common/conf/zh_dev_48k_nodyn/train_parallel_wavegan
  recipes/_common/conf/zh_dev_48k_nodyn/train_postfilter
  recipes/_common/conf/zh_dev_48k_nodyn/train_sifigan
  recipes/_common/conf/zh_dev_48k_nodyn/train_usfgan
  recipes/_common/hed/zh_opencpop.hed
  recipes/opencpop/README.md
  recipes/opencpop/dev-48k-melf0/config.yaml
  recipes/opencpop/dev-48k-melf0/run.sh
  recipes/opencpop/dev-48k-world/conf
  recipes/opencpop/dev-48k-world/config.yaml
  recipes/opencpop/dev-48k-world/run.sh
  utils/opencpop2nnsvs.py
Labels: recipes
